<div class="main-layout-head-container">
  <div aria-hidden="true" class="background-wrapper" #background>
    <div class="background-image-container">
      <img [src]="imgHeaderBackground" alt="Background" class="background-image">
    </div>
    <div class="overlay"></div>
    <div class="bottom-fade"></div>
  </div>

  <div class="content-wrapper" #content>
    <div class="hero-offset">
      <app-hero-section></app-hero-section>
    </div>
    <div class="projected-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
