<section class="hero-section">
  <!-- Services Badge -->
  <div class="badge-container">
    <div class="badge">
      <div class="dot"></div>
      <span>{{ 'SERVICES_PAGE.HERO.BADGE' | translate }}</span>
    </div>
  </div>

  <!-- Feature Cards Container -->
  <div class="cards-container">
    <!-- Card 1 -->
    <div class="feature-card security-card">
      <div class="card-content">
        <h2>{{ 'SERVICES_PAGE.HERO.HERO_CARD_1_TITLE' | translate }}</h2>
        <p>{{ 'SERVICES_PAGE.HERO.HERO_CARD_1_DESC' | translate }}</p>
      </div>
      <!-- Decorative Glows/Borders -->
      <div class="corner-accents">
        <div class="accent-line top-edge"></div>
        <div class="accent-line right-edge"></div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="feature-card ai-card">
      <div class="card-content">
        <h2>{{ 'SERVICES_PAGE.HERO.HERO_CARD_2_TITLE' | translate }}</h2>
        <p>{{ 'SERVICES_PAGE.HERO.HERO_CARD_2_DESC' | translate }}</p>
      </div>
      <!-- Decorative Glows/Borders -->
      <div class="corner-accents">
        <div class="accent-line bottom-edge"></div>
        <div class="accent-line left-edge"></div>
      </div>
    </div>
  </div>

  <!-- CTA Button Section -->
  <div class="cta-wrapper">
    <div class="cta-section">

      <app-button variant="hero" className="main-cta" [routerLink]="['/', currentLang, 'contact-us']">
        <div class="cta-text">
          <span>{{ 'SERVICES_PAGE.HERO.CTA' | translate }}</span>
        </div>
        <div class="binary-code">
          <div class="col">
            <span>0</span>
            <span>1</span>
          </div>
          <div class="col">
            <span>1</span>
            <span>0</span>
          </div>
        </div>
      </app-button>
    </div>
  </div>
</section>
