<div class="values-card-container">
  <div class="content-wrapper">
    <div class="text-section">
      <h2 class="card-title">{{ 'LANDING.VALUES.VALUES_HEADING' | translate }}</h2>
      <p class="card-description">{{ 'LANDING.VALUES.VALUES_SUBHEADING' | translate }}</p>
    </div>
    
    <div class="button-wrapper">
      <div class="custom-button" [routerLink]="['/', currentLang, 'contact-us']">
        <span class="button-text">{{ 'LANDING.VALUES.VALUES_CTA' | translate }}</span>
      </div>
      <div class="button-number-container">
        <div class="number-group">
          <span>0</span>
          <span>1</span>
        </div>
        <div class="number-group">
          <span>1</span>
          <span>0</span>
        </div>
      </div>
    </div>
    
    <div class="corner-border bottom-left"></div>
    <div class="corner-border top-right"></div>
  </div>
</div>
