:host {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}
.products-container {
  z-index: 1;
  width: 100%;
  max-width: 1350px;
  margin: 50px auto; /* Added margin-top and margin-bottom */
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  background: rgba(182, 204, 248, 0.05); /* Glass background */
  backdrop-filter: blur(10px); /* Glass effect */
  border-radius: 12px; /* Rounded corners */
  border: 0.8px solid rgba(255, 255, 255, 0.2); /* Subtle border */
}

.decorative-bar{
  width: 20px;
  height: 67px;
  background: rgba(0, 184, 219, 0.50);
}

.header-section {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: flex-start; /* Revert to original */
  position: relative;
  width: 100%;
  height: auto;

  .title-wrapper {
    width: fit-content;
    .section-title {
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: 700;
      font-size: 38px;
      text-align: center; /* Revert to original */
      color: var(--text-color);
      margin: 0;
    }
  }
}

:host-context([data-theme="light"]) {
  .products-container {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.05);
  }
}

.product-line{
  width: 100%;
  display: flex;
  flex-direction: row; /* Revert to original */
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive */
@media (max-width: 1200px) {
  .products-grid {

    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-section {
    justify-content: center;
    width: fit-content;
  }

  .section-title {
    font-size: 32px;
  }
}
