<div class="products-container">
  <div class="header-section">
    <div class="decorative-bar"></div>
    <div class="title-wrapper">
      <h2 class="section-title">{{ 'LANDING.PRODUCTS.HEADING' | translate }}</h2>
    </div>

  </div>




<div class="product-line">
  <!-- Product 1 (Right in RTL) -->
  <app-product-card
    [title]="'LANDING.PRODUCTS.QAID_TITLE' | translate"
    [description]="'LANDING.PRODUCTS.QAID_DESC' | translate"
    [features]="[
      'LANDING.PRODUCTS.QAID_FEATURE_1' | translate,
      'LANDING.PRODUCTS.QAID_FEATURE_2' | translate,
      'LANDING.PRODUCTS.QAID_FEATURE_3' | translate
    ]"
    logo="ayd.svg"
    link="https://qyd.sa"
    themeColor="#4c89d5">
  </app-product-card>

  <!-- Product 2 (Middle) -->
  <app-product-card
    [title]="'LANDING.PRODUCTS.QAID_SUBTITLE' | translate"
    [description]="'LANDING.PRODUCTS.QAID_DESC' | translate"
    [features]="[
      'LANDING.PRODUCTS.QAID_FEATURE_4' | translate,
      'LANDING.PRODUCTS.QAID_FEATURE_5' | translate,
      'LANDING.PRODUCTS.QAID_FEATURE_6' | translate
    ]"
    logo="captech.svg"
    themeColor="#62c4aa">
  </app-product-card>

  <!-- Product 3 (Left / Small) -->
  <app-product-card
    [isSmall]="true"
    logo="more.svg"
    themeColor="#756cea">
  </app-product-card>
</div>

</div>
