<div class="products-container">
  <div class="header-section">
    <div class="decorative-bar"></div>
    <div class="title-wrapper">
      <h2 class="section-title">{{ 'PRODUCTS.TITLE' | translate }}</h2>
    </div>

  </div>




<div class="product-line">
  <!-- Product 1 (Right in RTL) -->
  <app-product-card
    [title]="'PRODUCTS.CARD_QAYD_TITLE' | translate"
    [description]="'PRODUCTS.CARD_QAYD_DESCRIPTION' | translate"
    [features]="[
      'PRODUCTS.CARD_QAYD_FEATURE_1' | translate,
      'PRODUCTS.CARD_QAYD_FEATURE_2' | translate,
      'PRODUCTS.CARD_QAYD_FEATURE_3' | translate
    ]"
    logo="/ayd.svg"
    themeColor="#4c89d5">
  </app-product-card>

  <!-- Product 2 (Middle) -->
  <app-product-card
    [title]="'PRODUCTS.CARD_SMART_GATEWAY_TITLE' | translate"
    [description]="'PRODUCTS.CARD_SMART_GATEWAY_DESCRIPTION' | translate"
    [features]="[
      'PRODUCTS.CARD_SMART_GATEWAY_FEATURE_1' | translate,
      'PRODUCTS.CARD_SMART_GATEWAY_FEATURE_2' | translate,
      'PRODUCTS.CARD_SMART_GATEWAY_FEATURE_3' | translate
    ]"
    logo="/captech.svg"
    themeColor="#62c4aa">
  </app-product-card>

  <!-- Product 3 (Left / Small) -->
  <app-product-card
    [isSmall]="true"
    logo="/more.svg"
    themeColor="#756cea">
  </app-product-card>
</div>

</div>
