:host {
  display: block;
  width: 100%;
}

.products-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}

.header-section {
  display: flex;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: auto;

  .title-wrapper {
    height: 57px;
    width: 115.68px;
    position: relative;
    flex-shrink: 0;

    .section-title {
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      font-weight: bold;
      font-size: 38px;
      color: #e8f2ff;
      text-align: right;
      line-height: normal;
      font-style: normal;
      position: relative;
      flex-shrink: 0;
    }
  }

  .decorative-bar {
    background-color: rgba(0, 184, 219, 0.5);
    height: 67px;
    width: 20px;
    position: relative;
    flex-shrink: 0;
  }
}



/* Responsive */
@media (max-width: 1200px) {
  .products-grid {

    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-section {
    justify-content: center;
  }

  .section-title {
    font-size: 32px;
  }
}
