<div class="quality-proof-container">
  <div class="left-content">
    <div class="iso-links-group">
      <div class="iso-link-item">
        <p>ISO-IEC 27001-2022</p>
      </div>
      <div class="iso-link-item">
        <p>ISO-IEC 20000-1-2018</p>
      </div>
      <div class="iso-link-item">
        <p>ISO-9001-2015</p>
      </div>
    </div>
    
    <div class="logos-group">
      <div class="logo-wrapper iso-wrapper">
        <img [src]="isoLogo" [alt]="'QUALITY_PROOF.ISO_LOGO_ALT' | translate" class="iso-img">
      </div>
      <div class="logo-wrapper sdaia-wrapper">
        <img [src]="sdaiaLogo" [alt]="'QUALITY_PROOF.SDAIA_LOGO_ALT' | translate" class="sdaia-img">
      </div>
    </div>
  </div>

  <div class="heading-section">
    <h2>{{ 'QUALITY_PROOF.TITLE' | translate }}</h2>
  </div>
</div>