:host {
    display: block;
    width: 100%;
}

.main-head {
    position: relative;
    width: 100%;
    height: 400px; /* Increased height for better visual with image */
    background-image: url('/Pr-po.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #0A0C1A;
    opacity: 0.8;
    z-index: 1;
}

.content-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.title-box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    background: rgba(76, 137, 213, 0.12);
    backdrop-filter: blur(2.115px);
    width: 385px;
    height: 105px;
    box-sizing: border-box;
}

h1 {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #c6cedd;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
}

.decoration {
    position: absolute;
    width: 19.67px;
    height: 7.211px;
    border-style: solid;
    border-color: #36c9cb;
}

.bottom-left {
    bottom: 0;
    left: 0;
    width: 20px;
    height: 8px;
    border-width: 0 0 1px 1px; /* Bottom, Left */
}

.top-right {
    top: 0;
    right: 0;
    width: 20px;
    height: 8px;
    border-width: 1px 1px 0 0; /* Top, Right */
}
