<div class="home-container">
  <app-main-layout id="home"></app-main-layout>
  <app-info-section id="about" appScrollFade class="fade-in-section"></app-info-section>
  <app-transformation-project appScrollFade class="fade-in-section delay-100"></app-transformation-project>
  <app-process-section appScrollFade class="fade-in-section"></app-process-section>
  <app-our-products id="services" appScrollFade class="fade-in-section"></app-our-products>
  <app-quality-proof appScrollFade class="fade-in-section"></app-quality-proof>
  <app-our-partners appScrollFade class="fade-in-section"></app-our-partners>
  <app-footer id="contact" appScrollFade class="fade-in-section"></app-footer>
  <!-- Future content sections will go here -->

</div>
